* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(./imagenes/puntitos.png);
}

.titulos {
  font-family: "Open Sans", sans-serif;
}
.label {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-left: 0px;
  text-align: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 18px 40px;
}

@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 36px 50px;
  }
}

.logo {
  width: 54px;
  height: 50px;
  background-color: rgb(201, 245, 245);
  border-radius: 60%;
}
@media (min-width: 700px) {
  .logo {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 245, 245);
    border-radius: 60%;
  }
}
.contenedor-logo-dos {
  margin-right: 10px;
  justify-content: center;
}

@media (min-width: 700px) {
  .contenedor-logo-dos {
    display: none;
  }
}

.menu {
  display: none;
}
@media (min-width: 700px) {
  .menu {
    display: flex;
  }
}
.menu-heder {
  display: none;
}
@media (min-width: 700px) {
  .menu-heder {
    display: flex;
    margin: auto 80px;
    gap: 20px;
    font-family: "Roboto", sans-serif;
  }
}
.contenedor-de-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 300px;
}
@media (min-width: 700px) {
  .contenedor-de-foto {
    width: 435px;
    height: 395px;
    margin: auto 0px auto auto;
  }
}

.primera-seccion {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  .primera-seccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.foto {
  width: 318px;
  height: 300px;
  border-radius: 100%;
  border: solid rgb(201, 245, 245) 3px;
}
@media (min-width: 700px) {
  .foto {
    width: 435px;
    height: 395px;
    border-radius: 100%;
    border: solid rgb(201, 245, 245) 3px;
  }
}

.contenedor-de-h1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 96px;
  margin: 100px auto 50px;
}
@media (min-width: 700px) {
  .contenedor-de-h1 {
    margin: 40px auto auto 50px;
  }
}

.segunda-seccion {
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
  height: 538px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 700px) {
  .segunda-seccion {
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    height: 538px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
  }
  .logo-verde {
    width: 211px;
    height: 211px;
  }
}

.titulo-segunda-secc {
  width: 271px;
  height: 44px;
  margin: 50px auto 20px;
}
@media (min-width: 700px) {
  .titulo-segunda-secc {
    margin-left: 0px;
    text-align: left;
  }
}

.parrafo-seg-secc {
  width: 312px;
  height: 220px;
  margin: 20px auto;
}
@media (min-width: 700px) {
  .parrafo-seg-secc {
    width: 450px;
    height: 165px;
    font-size: 19px;
    text-align: left;
  }
}
.tercera-seccion {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 70px auto;
}
.p {
  width: 262px;
  height: 117px;
  margin: auto auto;
  margin-bottom: 90px;
}

@media (min-width: 700px) {
  .titulo-secc-tres {
    margin-bottom: 60px;
  }
  .tercera-seccion {
    width: 100%;
    height: 500px;
  }
  .titulo-secc-tres {
    text-align: center;
  }

  .contenedor-seccion-hagocosas {
    width: 100%;
    height: auto;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 30px;
  }
  .contenedor-uno {
    width: 230px;
    height: auto;
    justify-content: center;
    margin-left: 10px;
  }
  .contenedor-dos {
    width: 230px;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .contenedor-tres {
    width: 230px;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .p {
    width: auto;
    height: auto;
    margin: auto auto;
  }
}

.cuarta-seccion {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: 680px;
}
@media (min-width: 700px) {
  .cuarta-seccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 750px;
  }
  .titulo-secc-cuatro {
    margin: 60px 70px auto auto;
    font-size: 35px;
  }
}

.contenedor-de-input {
  flex-direction: column;
  width: 335px;
  height: auto;
  margin: 30px auto auto;
}
@media (min-width: 700px) {
  .contenedor-de-input {
    width: 376px;
    margin: 120px auto auto 10px;
  }
}
.primer-contenedor-input {
  display: grid;
  gap: 35px;
  width: 335px;
}
@media (min-width: 700px) {
  .primer-contenedor-input {
    width: auto;
  }
}

#nombre,
#email {
  width: 100%;
  height: 45px;
  margin: 10px auto;
}
#mensage {
  width: 100%;
  margin: 10px auto;
}

.segundo-contenedor-input {
  width: 335px;
  height: auto;
}

.button {
  width: 335px;
  height: 45px;
  margin-top: 40px;
  background: #ffd953;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media (min-width: 700px) {
  .segundo-contenedor-input {
    width: auto;
  }
  .button {
    width: 100%;
  }
}

.quinta-seccion {
  width: 375px;
  height: 493px;
}
@media (min-width: 700px) {
  .quinta-seccion {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .primer-seccion-del-pie {
    margin: auto auto auto 50px;
  }
}
.logo-footer {
  width: 77px;
  height: 71px;
  background-color: rgb(201, 245, 245);
  border-radius: 60%;
  margin: 55px auto 15px 20px;
}
@media (min-width: 700px) {
  .logo-footer {
    width: 100px;
    height: 100px;
  }
}
.copyright {
  margin: 15px auto 40px 20px;
  font-family: "Roboto", sans-serif;
}

.segunda-seccion-del-pie {
  display: grid;
  margin: 55px auto 15px 20px;
  gap: 30px;
}
@media (min-width: 700px) {
  .segunda-seccion-del-pie {
    margin: auto 200px auto auto;
  }
}
.de-facebook,
.de-instagram,
.de-github {
  display: flex;
  align-items: center;
}
.a {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
